* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  background: #f9f9f9;
}

.wrapper {
  display: flex;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.btn-primary {
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #1e1e1e;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  transition: background-color 0.2s ease;
}

.courses {
  margin-top: 50px;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.courseList {
  display: flex;
  flex-direction: column;
  gap: 25px 0;
}

.emptyCoursesList-inner {
  display: flex;
  align-items: center;
  gap: 12px 0;
  flex-direction: column;
  justify-content: center;
}

.emptyCoursesList {
  margin-top: 100px;
}

.courseInfo {
  margin-top: 100px;
}

.courseInfo-content {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 35px 40px;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.courseInfo-title {
  font-weight: 700;
  font-size: 34px;
}

.vertical {
  flex: 1;
  text-align: center;
  border-right: 1px solid gray;
}

.courseInfo-content-desc {
  margin-top: 10px;
  line-height: 1.6;
}

.courseInfo-content-right {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
  font-weight: 700;
  margin-left: 15px;
}

.courseInfo-content-left {
  flex: 1 0 80%;
}

.courseInfo-content-title {
  font-weight: 700;
  font-size: 24px;
}

.courseInfo-btn {
  margin-top: 30px;
}